<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>file.0x01.me</title>
</head>
<body>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" name="submit" value="Upload" />
    </form>
    <p><a href="http://file.0x01.me/">file.0x01.me</a> is an anonymous file
        storage service. You can download any file uploaded here via its
        SHA-1 value.</p>
    <p>If you have any suggestions or questions,
        <a href="mailto:hypercube+file@0x01.me">send me an email</a>.</p>
</body>
</html>
