<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
    <h1>300 Multiple Choices</h1>
    <hr />
    <p>There're multiple files whose hash value start with "{{ hash_value }}", please enter more bits to determine.</p>
    <p>有多个文件的哈希值都以“{{ hash_value }}”开头，请提供更多位数来确定一个文件。</p>
    <p>Possible choices:</p>
    <p>可能的选择：</p>
    <ul>
        <li><a href="/{{ hash_value }}0{{ path }}">/{{ hash_value }}0{{ path }}</a></li>
        <li><a href="/{{ hash_value }}1{{ path }}">/{{ hash_value }}1{{ path }}</a></li>
        <li><a href="/{{ hash_value }}2{{ path }}">/{{ hash_value }}2{{ path }}</a></li>
        <li><a href="/{{ hash_value }}3{{ path }}">/{{ hash_value }}3{{ path }}</a></li>
        <li><a href="/{{ hash_value }}4{{ path }}">/{{ hash_value }}4{{ path }}</a></li>
        <li><a href="/{{ hash_value }}5{{ path }}">/{{ hash_value }}5{{ path }}</a></li>
        <li><a href="/{{ hash_value }}6{{ path }}">/{{ hash_value }}6{{ path }}</a></li>
        <li><a href="/{{ hash_value }}7{{ path }}">/{{ hash_value }}7{{ path }}</a></li>
        <li><a href="/{{ hash_value }}8{{ path }}">/{{ hash_value }}8{{ path }}</a></li>
        <li><a href="/{{ hash_value }}9{{ path }}">/{{ hash_value }}9{{ path }}</a></li>
        <li><a href="/{{ hash_value }}a{{ path }}">/{{ hash_value }}a{{ path }}</a></li>
        <li><a href="/{{ hash_value }}b{{ path }}">/{{ hash_value }}b{{ path }}</a></li>
        <li><a href="/{{ hash_value }}c{{ path }}">/{{ hash_value }}c{{ path }}</a></li>
        <li><a href="/{{ hash_value }}d{{ path }}">/{{ hash_value }}d{{ path }}</a></li>
        <li><a href="/{{ hash_value }}e{{ path }}">/{{ hash_value }}e{{ path }}</a></li>
        <li><a href="/{{ hash_value }}f{{ path }}">/{{ hash_value }}f{{ path }}</a></li>
    </ul>
</body>
</html>