<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>File uploaded</title>
</head>
<body>
    <h1>File uploaded</h1>
    {% ifequal hash_value '38762cf7f55934b34d179ae6a4c80cadccbb7f0a' %}
        <h2>警告：严重错误</h2>
        <p>检测到来自Google的哈希碰撞攻击</p>
        <p>系统#+6*@已从崩5-/+36(-溃中恢复，检测到#7+*@5v/个文件丢失</p>
        <p>给用户卖个萌以示歉意，喵～</p>
    {% endifequal %}
    <p>Full link: <a href="http://file.0x01.me/{{ hash_value }}">file.0x01.me/{{ hash_value }}</a></p>
    <p>Full link with filename: <a href="http://file.0x01.me/{{ hash_value }}/{{ name }}">file.0x01.me/{{ hash_value }}/{{ name }}</a></p>
    <p>Short link (maybe not work!): <a href="http://file.0x01.me/{{ hash_value|slice:"10" }}">file.0x01.me/{{ hash_value|slice:"10" }}</a></p>
    <p>Short link with filename (maybe not work!): <a href="http://file.0x01.me/{{ hash_value|slice:"10" }}/{{ name }}">file.0x01.me/{{ hash_value|slice:"10" }}/{{ name }}</a></p>
</body>
</html>
