<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>file.0x01.me{{ alias }}</title>
</head>
<body>
    <h1>File uploaded</h1>
    {% ifequal hash_value '38762cf7f55934b34d179ae6a4c80cadccbb7f0a' %}
        <h2>Huh, trying to attack the server?</h2>
    {% endifequal %}
    {% if alias_r %}
        <p>Link for downloading:
            <a href="http://file.0x01.me/{{ alias }}{{ ext }}?type=application/octet-stream">
            file.0x01.me/{{ alias }}?type=application/octet-stream
            </a></p>
        {% if mime %}
            <p>Link for previewing:
                <a href="http://file.0x01.me/{{ alias }}{{ ext }}?type={{ mime }}">
                file.0x01.me/{{ alias }}?type={{ mime }}</a></p>
        {% endif %}
        <p>Link for reading:
            <a href="http://file.0x01.me/{{ alias }}{{ ext }}?type=text/plain">
            file.0x01.me/{{ alias }}?type=text/plain</a></p>
        <p>I just want a short link:
            <a href="http://file.0x01.me/{{ alias }}">
            file.0x01.me/{{ alias }}</a></p>
    {% else %}
        {% if alias %}
            <p>Sorry, the alias "{{ alias }}" is still in use, so you did't
                get it.</p>
        {% endif %}
        <p>Link for downloading:
            <a href="http://file.0x01.me/{{ hash_value }}/{{ name }}?type=application/octet-stream">
            file.0x01.me/{{ hash_value }}/{{ name }}?type=application/octet-stream
            </a></p>
        {% if mime %}
            <p>Link for previewing:
                <a href="http://file.0x01.me/{{ hash_value }}/{{ name }}?type={{ mime }}">
                file.0x01.me/{{ hash_value }}/{{ name }}?type={{ mime }}
                </a></p>
        {% endif %}
        <p>Link for reading:
            <a href="http://file.0x01.me/{{ hash_value }}/{{ name }}?type=text/plain">
            file.0x01.me/{{ hash_value }}/{{ name }}?type=text/plain
            </a></p>
        <p>I just want a short link:
            <a href="http://file.0x01.me/{{ hash_value|slice:'10' }}">
            file.0x01.me/{{ hash_value|slice:'10' }}</a></p>
    {% endif %}
</body>
</html>
